<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/productList.css" type="text/css" media="screen"><!--Estilos-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">

    <title>Listado de productos</title>
</head>
<body>
    <div id='Contenedor'>
        <%- include('../partials/header')%>
        <main>
                <div>
                    <h1>Administración de productos</h1>
                </div>
            <form action="" method="">
                <div class="divTabla">
                    <table>
                            <tr>
                                <th id="id">ID</th>
                                <th>Categoria</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th><a href="productCreate"><i class="fas fa-plus"></i></a></th>
                            </tr>
                            <% for(let i=0; i < productos.length; i++){ %>

                            
                            <tr>
                                <td><%= productos[i].ID %></td>
                                <td><%= productos[i].Categoria %></td>
                                <td><%= productos[i].Titulo %></td>
                                <td><%= productos[i].Precio %></td>
                                <td><a href="productEdit/<%=productos[i].ID %>"><i class="fas fa-edit"></i></a>
                                    <form action="delete/<%=productos[i].ID %>?_method=DELETE" method="POST">
                                       <button type="submit" id="btnTacho">
                                        <i class="fas fa-trash" id="tacho"></i></td>
                                        </button>
                                    </form>
                            </tr>
                            <% } %>                            
                    </table>
                </form>
        </main>
        <%- include('../partials/footer')%>
    </div>
    
</body>
</html>