<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/productDetail.css" type="text/css" media="screen"><!--Estilos-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">

    <title>Goodbikes</title>
</head>
<body>

    
    <div id='Contenedor'>  
        <%- include('../partials/header')%>
       
        <img src='/images/Banner11.png' width='100%' id='Banner_Product_Detail_web'>
        <img src='/images/Fondos/Fondo1.png' width='100%' id='Banner_Product_Detail_mobile'> 
        <p id='Text_Hero_Mobile'>Lo mejor es Goodbike</p>
        <h3 id='Detalle_Producto'>Detalles del producto</h3>

    <main>
        <div id="DetalleCompleto">
        
            <div id="cuadrosSuperiores">     
                <section id='CuadroIzquierdo'>
                    <%= imagenes %>
                    <% for(let i=0; i < 5; i++){ %>
                        <figure><img class='imagenIzquierda'src="/images/products/<%= imagenes %>" alt="Principal1"></figure>
                    <% } %>     
                </section>
                <section id='CuadroCentro'>
                    <figure id='Principal1' ><img src="/images/products/<%= producto.img_ppal %>" alt="Principal1"></figure>
                
                    
                </section>
                
                <section id='CuadroDerecho'>
                    <h1><%= producto.title %></h1><br>
                    <span><%= producto.price %></span>
                    <ul>
                        <br>
                        <li><button type="submit">Agregar</button></li>
                    </ul>  
                </section>

            </div>  

            <section id='CuadroHorizontal'>
                <h3><%= producto.brand %></h3>
                <h3><%= producto.model %></h3>
                <h3>Especificaciones:</h3>
                <br>
                
                <p><%= producto.detail %></p>
                <ul>
                    <li>+Info</li>
                </ul>  
            </section>

        </div>
        
    </main>
    
    <form action="">
        <div id="galeria"></div>
        <div id="imagen"></div>
        <div id="compra"></div>
        <div></div>
    </form>
    
    
    
    
    <%- include('../partials/footer')%>

    </div>        
</body>
</html>