<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">


    <title>Ingresá a GoodBikes</title>
</head>
<body>
    
    <div id='Contenedor_Body'> 
        <%- include('../partials/header')%>
        
        <img id='img_login' src='/images/login.png'>

        <div class="contenedor_del_Main"> 
            <main>
                <form action="/users/login" method="POST" class="login">                   
                    <div class="principal">
                        <h1>Logueate en GoodBikes</h1>

                        <%  if(locals.mensaje){ %>
                            <small style="color: red;">
                            <%= mensaje %> </small>
                            <% } %> 

                        <input class="campos" type="email" placeholder="Email" name="email" id="email">

                        <small id="errorEmail" class="errores"><%=(locals.errors && errors.email) ? errors.email.msg : ""%></small>

                        <input class="campos" type="password" placeholder="Password" name="password" id="password">                   

                        <small id="errorPassword" class="errores"><%=(locals.errors && errors.password) ? errors.password.msg : ""%></small>

                        <button type="submit">Ingresar</button>
                        <a href="#">¿Olvidaste tu password?</a>
                        <label><input type="checkbox" value="si" name="rememberme"> Recordarme</label><br>
                    </div>
                </form>
            </main>
        </div>
        <%- include('../partials/footer')%>
    </div>    
    <script src="/js/loginValidator.js"></script>
</body>
</html>