<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">


    <title>Mi Cuenta</title>
</head>
<body>
    <div id="Contenedor">
        <%- include('../partials/header')%>

        <div id='Presentacion'>
            <img id='img_tit' src='/images/profile.PNG'>
            <h2 id='Titulo_Profile'>Perfil del usuario</h2>
        </div>


        <main>
            <form action="" method="">

                <div class="Superior">

                   
                    <img src="/images/users/avatars/<%= locals.profileAvatar %> " alt="Imagen de Perfil" Id="profileImage">

                    


                    <h2>Mis Datos</h2>
                    <div class="primerSuperior">
                        <label for="Email" >Email</label>
                        <input type="email" name="email" id="email" value = " <%= locals.profileEmail %> ">
                        
                        <label for="password" >Contraseña</label>
                        <input type="password" name="password" id="password" value ="*******">
                        <a href="#">Cambiar Contraseña</a>
                    </div>
                    <div class="segundoSuperior">
                        <label for="nombre" >Nombre</label>
                        <input type="text" name="nombre" id="nombre" value = " <%= locals.profileName %> ">
                        
                        <label for="apellido" >Apellido</label>
                        <input type="text" name="apellido" id="apellido" value = " <%= locals.profileLastName %> ">
                        
                    </div>
                    <div class="terceroSuperior">
                        <button type="submit">Editar</button>
                        <button type="submit">Guardar</button>
                    </div>
                </div>
                
                <div id= "Inferior">
                    <h2>Mis Compras</h2>
                    <div class="compras">
                        <img src="/images/products/12737_800.jpg" alt="casco">
                            <div class="detalles">
                            <p>Juego de Frenos Shimano</p>
                            <p id="precio">$2.457,03</p>
                            <a href="#">Ver Detalles</a>
                         </div>
                         <br>
                         <img src="/images/products/15424_800.jpg" alt="casco">
                            <div class="detalles">
                            <p>Piñon 18 Vel</p>
                            <p id="precio">$1.234,03</p>
                            <a href="#">Ver Detalles</a>
                         </div>
                         <br>
                    </div>
                    
                </div>
                <br>
                <br>
                <br>
                <div class= "Superior">
                    <h2>Mi Dirección</h2>
                    <div class="primerSuperior">
                        <label for="calle">Calle</label>
                        <input type="text" name="calle" id="calle" >
                                                
                        <label for="numero" id="labelNumero">Número</label>
                        <input type="text" name="numero" id="numero" maxlength="10" required autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="1" pattern="\d*"/>
                        
                        <label for="depto">Depto/Casa/Lote</label>
                        <input type="text" name="depto" id="depto" >
                    </div>
                    <div class="segundoSuperior">
                        <label for="provincia">Provincia</label>
                        <input type="text" name="provincia" id="provincia">
                        
                        <label for="localidad">Localidad</label>
                        <input type="text" name="localidad" id="localidad">
                        
                        <label for="cp">Código Postal</label>
                        <input type="text" name="cp" id="cp" maxlength="10" required autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="1" pattern="\d*"/>
                        
                    </div>
                    <div class="terceroSuperior">
                        <button type="submit">Editar</button>
                        <button type="submit">Guardar</button>
                    </div>
                    
                </div>
                <br>
                <br>
                <br>
                <div class= "Superior">
                    <h2>Mi Medio de Pago</h2>
                    <div class="primerSuperior">
                        <label for="alias">Alias</label>
                        <input type="text" name="alias" id="alias">
                        
                        <label for="medioPago">Nro de Tarjeta</label>
                        <input type="text" name="madioPago" id="madioPago" maxlength="10" required autocomplete="off" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="0" pattern="\d*"/>
                        
                    </div>
                    <div class="segundoSuperior">
                        <label for="operadora">Operadora</label>
                        <input type="text" name="operadora" id="operadora">
                        
                        <label for="banco">Banco</label>
                        <input type="text" name="banco" id="banco">
                        
                    </div>
                    <div class="terceroSuperior">
                        <button type="submit">Editar</button>
                        <button type="submit">Guardar</button>
                    </div>
                    
                </div>

                
            </form>
        </main>
        
        <%- include('../partials/footer')%>
    </div>
    
</body>
</html>